html,
body {
    height: 100%;
}

.text_box {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.text-box-1 {
    width: 30%;
    padding-left: 20px;
    margin-left: 10%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#undo {
    margin: auto;
    display: block;
}


#clear {
    margin: auto;
    display: block;
}